/* Fonts */
@font-face {
    font-family: "myGearedSlab-Thin";
    src: url('fonts/GearedSlab-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/GearedSlab-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/GearedSlab-Thin.woff') format('woff'), /* Modern Browsers */
         url('fonts/GearedSlab-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/GearedSlab-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "myGearedSlab-Bold";
    src: url('fonts/GearedSlab-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/GearedSlab-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/GearedSlab-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/GearedSlab-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/GearedSlab-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "myMontez-Regular";
    src: url('fonts/Montez-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Montez-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Montez-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Montez-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Montez-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.fontGearedSlab-Bold {
  font-family: myGearedSlab-Bold, sans-serif;
  color: #002843;
}

body {
  font-family: myGearedSlab-Thin, sans-serif;
  font-size: 13px;
  color:#5d6975;
  text-align: justify;
  max-width: 820px;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4 {
  font-family: myMontez-Regular, sans-serif;
  color: #322ca2;
}

h1 {
  font-size: 100px;
  font-weight: 100;
}

h4 {
  font-size: 40px;
  font-weight:100;
  margin-top:20px;
}

li {
  padding-left: 0;
  margin-left:0;
}

ul {
  list-style-type:none;
  margin:0;
}

.center {
  text-align: center;
}

.col-lg-6 {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

.no-margin {
  margin:0;
}

@media (max-width: 640px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  h1 {
    font-size: 65px;
  }
}
